<div class="panel-default">
    <div class="panel-heading">
        <h3>Books List</h3>
    </div>
    <div class="panel-body">
        <ul class="panel-items" style="list-style-type:none">
            {{#each this}}
            <li><a href="#/categories:{{name}}"><h2>{{name}}</h2></a></li>
                {{#if books}}
                    <ul class="{{name}}-category-books">
                        {{#each books}}                   
                            <div class="book-div">
                                <li><a href="#categories:{{name}}"><h3>{{name}}</h3></a></li>
                                <h4>Author: {{author}}</h4>
                                <img src="{{img}}" alt="Book Cover" class="book-img">
                            </div>   
                        {{/each}}
                    </ul>
                {{/if}}
            {{/each}}
        </ul>
    </div>
</div>
