<div class="book-div zoom">
    <div class="cover-div">
        <img src="{{img}}" alt="Book Cover" class="book-img zoom">
    </div>
    <div class="book-info zoom">
        <h1>{{name}}</h1>
        <h4 class="author-text zoom">Author: {{author}}</h4>
        <div class="description-div"><p>{{description}}</p></div>
    </div>
     <a href="#/books/add/:{{id}}" class='add-book-btn'>Add to my list</a>
     <a href="#/books/remove/:{{id}}" class='add-book-btn'>Remove from my list</a>
</div> 